
ul, ol{
    list-style-type: none; 
}

.container1{
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
            li{
                display: inline-flex;
             }
        }
        
    }

a{
    text-decoration: none;
     color: $text-color;
    
    &:hover{
        color: $secondre-color ;
    }
}

