//varibels//
$color-primary:white;
$body-family:'Mulish', sans-serif;
$font-style:normal;
$text-color:#111111;
$secondre-color:#4A4FF2;
$theerd-color:rgb(17, 17, 17, 0.6);
$primary-font-weight:700;
$secondre-font-wedht:400;
$primary-font-style:normal;

%h2 {
    width: 100%;
    max-width: 60%;
    font-weight: $primary-font-weight;
    font-size: 28px;
    line-height: 38px;
    color:$text-color;
}

//body/main//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 
 body{
    background-color: $color-primary;
    font-family:$body-family;
    font-style: $primary-font-style;
 }
 
 
 .border{
    width: 100%;
    margin: 10px;
    padding: 20px;
 }

 %flex{
display: flex;
justify-content: center;
align-self: center;
justify-content: space-between;
 }