@import 'main';
@import 'header';
@import 'footer';
@import 'box7';

.box11{
    color: $theerd-color;
    border: none;

    .input-field{
        outline: none;
        border: none;

    }   
}

button{
    background-color: $secondre-color;
    width: 125px;
    height: 50px;
    font-weight:$primary-font-weight;
    color: $color-primary;
    font-size: 16px;
    line-height: 20px;

     &:hover{
      background-color: blue;
    }
}
.box12{
    margin-bottom: 50px;
}