.box7 h2 {
  width: 100%;
  max-width: 60%;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

.border {
  width: 100%;
  margin: 10px;
  padding: 20px;
}

.container1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container1 nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
}
.container1 nav li a {
  text-decoration: none;
  color: #111111;
}
.container1 nav li a:hover {
  color: #4A4FF2;
}

.container2 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container2 nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
}
.container2 nav li a {
  text-decoration: none;
  color: #111111;
}
.container2 nav li a:hover {
  color: #4A4FF2;
}

.box7 {
  width: 100%;
  max-width: 80%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.box7 p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(17, 17, 17, 0.6);
}

.box8 {
  margin-left: 50px;
}
.box8 .grid3 {
  width: 250px;
  margin-left: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 700;
  padding: 10px;
  gap: 10px;
  font-size: 18px;
  line-height: 23px;
}
.box8 .grid3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.box8 .grid3 > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.box8 .grid3 > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.box8 .grid3 > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
.box8 .grid3 > *:nth-child(17) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(18) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(19) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(20) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}
.box8 .grid3 > *:nth-child(21) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.box8 .grid3 > *:nth-child(22) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.box8 .grid3 > *:nth-child(23) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}
.box8 .grid3 > *:nth-child(24) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}
.box8 .grid3 .row1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.box8 .grid3 .row7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.box8 .grid3 .row8 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.box8 .grid3 .row9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.box8 .grid3 .row10 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.box8 .grid3 .row11 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.box8 .grid3 .row12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.row13 {
  width: 100%;
  max-width: 80%;
  margin-top: 40px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
}

.box9 {
  margin-bottom: 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-one {
  margin-right: 10px;
}

.img-two {
  margin-right: 10px;
}