* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 240, 240);
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

.border {
  width: 100%;
  margin: 40px 40px;
  padding: 20px;
}

ul, ol {
  list-style-type: none;
}

.container1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container1 nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  color: #4A4FF2;
}

.box7 h2 {
  width: 100%;
  max-width: 60%;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
  margin: 40px 20px;
}
.box7 p {
  margin: 40px 20px;
}

.container2 {
  margin-left: 20px;
}
.container2 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container2 nav ul {
  list-style-type: none;
}
.container2 nav ul li {
  padding: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}